.ContainerFilter {
  position: absolute;
  display: flex;
  border: 2px solid #e4e2e2;
  top: 37%;
  left: 50%;
  transform: translate(-50%, -50%);
  align-items: center;
  gap: 20px;
  padding:10px;
  border-radius: 18px;
  width: 670px;
  
}


.ContainerFilter p{
    margin-left: 20px;
    font-size: 16px;
color: #b3b3b3;
width: 290px;
height: 80%;

}
.Switch{
height: 48px;
    display: flex;
    align-items: center;
    gap: 70px;
    border-left: 1px solid #DDDDDD;
    
}
.ContainerFilter .nextui-c-itiWTf-bDUxer-checked-true {
  background: #222222;

}

.ContainerFilter .nextui-c-STltJ-bwQcWP-color-default {
    --nextui--switchColor: #222222;
    --nextui--switchColorShadow: #222222;
    --nextui--switchColorHover: #222222;
    }
    .nextui-c-jjKPqy + .nextui-c-itiWTf:where(.nextui-c-huiNHE) > .nextui-c-eJPKci {
        transform: translateX(calc(var(--nextui--switchWidth) / 15));
    }