.ContainerNavbar {
  width: 100%;
display: flex;
} 
.Fullnavbar{
    border-bottom: 1px solid #EBEBEB;
    padding: 10px 31px 18px ;
    box-shadow: none;
   

}
.Navbar{
   position: fixed;
   border-bottom: #EBEBEB 1px solid;
 z-index: 2;
 background-color: #FFFFFF;
 top: 0px;
}
body{
  padding: 0px;
  margin: 0px 0px;
}
.Logo {
  display: flex;
  align-items: center;
  font-size: 26px;
  gap: 6px;
  margin-right: 255px;
}
.InputNavbar {
  padding: 0px;
  border: 1px solid #EBEBEB;
  border-radius: 30px;
  margin-right: 70px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 
  font-size: 14px;
}
.InputNavbar ul {
  display: flex;
  gap: 21px;
  list-style: none;
  margin: 0;
  align-items: center;
  padding: 9px 18px;
 
}
.InputNavbar:hover{
  cursor: pointer;
}
.Search {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #FF385C;
  border-radius: 50%; 
  background-color: #FF385C;
}

.InputNavbar svg {
  font-size: 19px;
  color: #FFFFFF;
  height: 25px;
}

.Borde {
    padding-right: 10px;
    border-right: 1px solid #EBEBEB;
    color: black;
}
.Cuantos{
  color: #afafaf;
}
.Users{
    display: flex;
    align-items: center;
    gap: 10px;
    
}
.Users span{
  font-size: 14px;
  border: 2px transparent solid;
  padding: 8px;
  border-radius: 30px
}
.Users span:hover{
  background-color: #F7F7F7;
  cursor: pointer;
}

.rejilla{
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%; 

}
.Users img{
 
  border-radius: 30px
}
.rejilla:hover{
  background-color: #F7F7F7;
  cursor: pointer;
}
.IconsUser{
    display: flex;
    gap: 8px;
   align-items: center;
   border: 1px #EBEBEB solid;
   padding: 1px 4px 1px 10px;
  background-color: #FFFFFF;
   border-radius: 30px;
    grid-area: 10px;
}
.IconsUser :hover{
  cursor: pointer;
}
.Navbar2{
gap: 10px;
  width: 100%;
 
   display: flex;
   align-items: center  ;
}
.Navbar2 ul{
  padding: 38px 0px 0px 43px; 
  display: flex;
  gap: 38px;
  margin: 0px;
  margin: 0px;
}
.Navbar2 li{
 display: flex;
 flex-direction: column;
 align-items: center;
 gap: 10px;
 font-size:12px;
 width: 107px,!important ;
 height: 59px;
 border-bottom: 2px transparent solid;
filter: grayscale(100%) invert(40%)

}
.Navbar2 li:hover{
  border-bottom: 2px #EBEBEB solid; 
color: black;
cursor: pointer;
filter: grayscale(0%);
}
.Navbar2 li:active{
  border-bottom: 2px solid black;
}
.Navbar2 span{
  height: 16px;

}
.ButtonRight{
width: 28px;
height: 28px;
  border-radius: 50%;
  background-color: #FFFFFF;
  border: 1px #EBEBEB solid ;
}
.ButtonRight svg{
font-size: 19px;
}
.ButtonRight2{
  display: flex;
  gap: 5px;
  align-items: center;
  padding: 13px;
  border-radius: 10px;
  background-color: #FFFFFF;
  border: 1px #EBEBEB solid ;
  height: 49px;

}
.BotonesNavbar{
  display: flex;
  gap: 30px;
  align-items: center;
 margin-top: 19px;

}
.IconsUser:hover{
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 
}
.ShowLogin{
  position: fixed;
  z-index: 99;
  display: flex;
  flex-direction: column;
  right: 3%;
  background-color: #FFFFFF;
  box-shadow: 1px 2px 3px 3px rgba(65, 64, 64, 0.2); 
  width: 18%;
  padding: 12px 0px 0px;
  border-radius: 20px;
  margin: 0;
 
}
.ShowLogin ul{
  list-style: none;
  padding: 0px 12px 0px;
  
}
.ulPrincipal{
border-bottom:1px solid rgb(187, 184, 184) ;
}
.ShowLogin li{
    padding: 5px 0px;
    margin-bottom: 10px;
}